.contacts {
  .block-top__container {
    flex-wrap: wrap;
  }
  .block-top__col1 {
    padding-right: 2%;
  }
  .block-top__col1 {
    padding-bottom: 60px;
  }
  .block-top__col1 .content {
    margin-bottom: 15px;
  }
  .block-top__col2 {
    padding-left: 0;
  }
}
