$basic-font-family: "Open Sans", Arial, Verdana, sans-serif;
$proxima-nova: "Proxima Nova", Arial, Verdana, sans-serif;
$basic-font-size: 14px;
$basic-line-height: 30px;
$basic-font-weight: 300;

$extrabold: 800;
$bold: 700;

$yellow: #e2e41f;
$dark-yellow: #5c5d13;
$yellow-slaider: #83841a;
